<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <ul class="nav flex-column nav-pills">
                <li class="nav-item">
                    <a routerLink="bootstrap" class="nav-link" routerLinkActive="active"cd >Bootstrap</a>
                </li>
                <li class="nav-item">
                    <a routerLink="javascript" class="nav-link" routerLinkActive="active">Javascript</a>
                </li>
                <li class="nav-item">
                    <a routerLink="typescript" class="nav-link" routerLinkActive="active">Typescript</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-6"></div>
    </div>
</div>
<router-outlet></router-outlet>

