<div class="container">
    <div class="card-group">
        <div class="card mt-5" style="width:400px;box-shadow:0px 2px 5px black">
            <div class="card-header bg-cover">
                <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-11-pro-select-2019-family_GEO_EMEA?wid=441&amp;hei=529&amp;fmt=jpeg&amp;qlt=95&amp;op_usm=0.5,0.5&amp;.v=1567812929188" width=100% alt="">
            </div>
            <div class="card-body">
                <p>Apple iphone 11Pro (128GB)-Mac Black</p>
                <h1>$1,06,600</h1>
                <button class="btn btn-info mt-4" (click)="selectcount('c1')">select</button>
            </div>
        </div>
        <div class="card mt-5" style="width:400px;box-shadow:0px 2px 5px black">
            <div class="card-header bg-cover">
                <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-11-pro-select-2019-family_GEO_EMEA?wid=441&amp;hei=529&amp;fmt=jpeg&amp;qlt=95&amp;op_usm=0.5,0.5&amp;.v=1567812929188" width=100% alt="">
            </div>
            <div class="card-body">
                <p>Apple iphone 11Pro (128GB)-Mac Black</p>
                <h1>$1,06,600</h1>
                <button class="btn btn-info mt-4" (click)="selectcount('c2')">select</button>
            </div>
        </div>
        <div class="card mt-5" style="width:400px;box-shadow:0px 2px 5px black">
            <div class="card-header">
                <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-xr-select-2019-family?wid=441&amp;hei=529&amp;fmt=jpeg&amp;qlt=95&amp;op_usm=0.5,0.5&amp;.v=1550795424612" width="100%" alt="">
            </div>
            <div class="card-body">
                <p>Apple iphone X<sup>R</sup> (64 GB) -Blue Marble</p>
                <h1>$52,500</h1>
                <button class="btn btn-info mt-4" (click)="selectcount('c3')">select</button>
            </div>
        </div>
    </div>
</div>
