<!-- //structural derivatives
<h1>number is {{n}}</h1>
<img [src]="url" alt="image">
<button (click)="changestatus()" class="btn btn-success">{{status? "Hide" : "show"}}</button>
<h1 *ngIf="status">Good Night</h1>
<h2 *ngFor="let n of items;let i=index">element at {{i}} is {{n}}</h2>
-->
<!-- //calculatorapp
<div class="container">
  <h1 class="display-2 text-center text-dark mt-3 text-decoration" style="text-decoration:underline;">Calculator</h1>
  <div class="row mt-4">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <form><input type="text" name="inp" id="inp" class="form-control"></form>
      <table class="table table-bordered text-center">
        <tbody>
          <tr>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>*</td>
          </tr>
          <tr>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>/</td>
          </tr>
          <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>%</td>
          </tr>
          <tr>
            <td>0</td>
            <td>+</td>
            <td>-</td>
            <td>=</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
-->
<!-- //parent child interaction
<app-child (myevent)="count=$event"></app-child>
<h2 class="text-center mt-3">Number of cards selected : "{{count}}"</h2>
-->
//routing
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a href="#" class="navbar-brand">Navbar</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="home" class="nav-link" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="register" class="nav-link" routerLinkActive="active">Register</a>
    </li>
    <li class="nav-item">
      <a routerLink="login" class="nav-link" routerLinkActive="active">Login</a>
    </li>
    <li class="nav-item">
      <a routerLink="technologies" class="nav-link" routerLinkActive="active">Technologies</a>
    </li>
    <li class="nav-item">
      <a routerLink="aboutus" class="nav-link" routerLinkActive="active">AboutUs</a>
    </li>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
-->







































































































